<link rel="stylesheet" href="stylesheets/ribbon.css" />
<div class="col-sm-6">
    <h1 class="ribbon">
		<strong class="ribbon-content">name</strong>
	</h1>

</div>

<div class="col-sm-6">
    <%= bio %>

    <h1 class="ribbon">

        <h1 class="ribbon">

		<strong class="ribbon-content">start</strong>
	</h1>
</div>
