<!DOCTYPE html>
<html>
  <head>
    <title>TU Sexy Boy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <style>
  .bg-1{
    background-color: #1abc9c;
    color: #ffffff;
  }
  .container-fluid{
    padding-top: 20%;
    padding-bottom: 20%;
  }
  </style>
  <body>
  <div class="container-fluid bg-1 text-center">
    <div class="container text-center">
      <h3>KUY</h3>
    </div>
  </div>
  </body>
</html>
