<!DOCTYPE html>
<html>
  <head>
    <title>TU Sexy Boy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <style>
  .bg-1{
    background-color: #1abc9c;
    color: #ffffff;
  }
  .container-fluid{
    padding-top: 20%;
    padding-bottom: 20%;
  }
  </style>
  <body>
  <div class="container-fluid bg-1 text-center">
    <h2 class="margin">เลือก ผู้ชายของคุณ </h2>
    <div class="row">
      <div class="col-sm-4">
        <img src="/images/C4iGL4yVcAAl8-R.png" class="img-responsive img-circle margin" style="width:100%" >
        <button type="button" class="btn btn-primary">name 1</button>
      </div>

      <div class="col-sm-4">
        <img src="/images/IMG_20170301_212622.png" class="img-responsive img-circle margin" style="width:100%" >
        <button type="button" class="btn btn-primary">name 2</button>
      </div>

      <div class="col-sm-4">
        <img src="/images/IMG_20170301_213319.png" class="img-responsive img-circle margin" style="width:100%" >
        <button type="button" class="btn btn-primary">name 3</button>
      </div>
    </div>
  </div>
  </body>
</html>
