<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mating season</title>
    <script src="javascripts/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/flametext.css" />
    <script src="javascripts/flametext.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/myScript.js"></script>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='font/stylesheet.css' />
    <link rel="stylesheet" href="stylesheets/ribbon.css" />
    <style>
        .bag {
            background-color: #ff6699;
        }

        body {
            background-color: #ff6699;
        }

        #start,
        #howTo {
            font-family: '5012_tlu_infectionregular';
        }
    </style>
</head>

<body>
    <div class="row" id="main">

        <div class="bag">
            <div style="height:20px;">
            </div>
            <center>
                <img id="mainPic" src="images/main.png" class="img-responsive" alt="Mountain View">
            </center>
            <p style="font-size: 70px; text-align:center;" id="start">คันแล้วกดเลย</p>
            <p style="font-size: 30px; text-align:center;" id="howTo">??? How to จีบ ???</p>
            <style>
                #start:hover,
                #howTo:hover {
                    color: white;
                }
            </style>
        </div>
    </div>
</body>
<script>
    var nowQuestion = 1;
    var choice = [];
    $(document).ready(function() {
        $('#start').click(function() {
            changePage('http://localhost:3000/selectBoy', 'get', 'text');
        });
    });
</script>

</html>
