<div class="col-sm-6">
    <center>
        <center>
            <img src="/images/<%= name %>1.png" class="img-responsive " style="height:300px">
        </center>
        <h1 class="ribbon ">
    		<strong class="ribbon-content " style="font-family: '5012_tlu_infectionregular'; font-size: 30px;"><%= result %></strong>
    	</h1>
    </center>
</div>
<div class="col-sm-6" style="padding-top:50px;">
    <center>
        <p style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">
            คุณได้คะแนน
        </p>
        <p style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">
            <%= score %> / 5
        </p>
        <button onclick="newGame()" class="btn btn-info" style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">
          เล่นใหม่
        </button>
    </center>
</div>
<script>
    function newGame() {
        window.location.assign('http://localhost:3000')
    }
</script>
