<script>
    console.log(choice[0]);
    console.log(choice[1]);
    console.log(choice[2]);
    console.log(choice[3]);
    console.log(choice[4]);
</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

</body>

</html>
