<!-- <!DOCTYPE html>
<html>

<head>
    <title>TU Sexy Boy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<style>
    .bg-1 {
        background-color: #1abc9c;
        color: #ffffff;
    }

    .container-fluid {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .img-circle {
        background-color: #00FF7F;
        border-radius: 55%;
        height: 300px;
        width: 250px;
    }
</style>

<body> -->

<!--
<div class="row">
    <div class="col-sm-12">
        <h2 class="margin">เลือก ผู้ชายของคุณ </h2>
    </div>
    <div class="col-sm-4">
        <img src="/images/C4iGL4yVcAAl8-R.png" class="img-responsive img-circle margin" style="width:100%">
        <button type="button" class="btn btn-primary">name 1</button>
    </div>

    <div class="col-sm-4">
        <img src="/images/IMG_20170301_212622.png" class="img-responsive img-circle margin" style="width:100%">
        <button type="button" class="btn btn-primary">name 2</button>
    </div>

    <div class="col-sm-4">
        <img src="/images/IMG_20170301_213319.png" class="img-responsive img-circle margin" style="width:100%">
        <button type="button" class="btn btn-primary">name 3</button>
    </div>
</div> -->
<!-- </body>

</html> -->
<link rel="stylesheet" href="stylesheets/ribbon.css" />
<div class="col-sm-12">

    <p style="text-align:center; font-size: 70px; font-family: '5012_tlu_infectionregular';">เลือกผู้ชายของคุณ</p>
</div>

<div class=" col-sm-4 ">
    <center>
        <img src="/images/min1.png" class="img-responsive img-circle margin" style="height:300px">
    </center>
    <h1 class="ribbon " id="in">
		<strong class="ribbon-content " style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">อิน</strong>
	</h1>
</div>

<div class="col-sm-4 ">
    <center>
        <img src="/images/mg1.png" class="img-responsive img-circle margin" style="height:300px">
    </center>
    <h1 class="ribbon " id="gr">
		<strong class="ribbon-content " style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">เกรท</strong>
	</h1>
</div>

<div class="col-sm-4 ">
    <center>
        <img src="/images/mp1.png" class="img-responsive img-circle margin" style="height:300px">
    </center>

    <h1 class="ribbon" id="ph">
		<strong class="ribbon-content" style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">พอร์ช</strong>
	</h1>
</div>
<script>
    $('#in').click(function() {
        changePage('http://localhost:3000/bio?name=in', 'get', 'text');
    });
    $('#gr').click(function() {
        changePage('http://localhost:3000/bio?name=gr', 'get', 'text');
    });
    $('#ph').click(function() {
        changePage('http://localhost:3000/bio?name=ph', 'get', 'text');
    });
</script>
