<div class="col-sm-12">

    <p style="text-align:center; font-size: 70px; font-family: '5012_tlu_infectionregular';">เลือกผู้ชายของคุณ</p>
</div>

<div class=" col-sm-4 " id="in">
    <center>
        <img src="/images/in1.png" class="img-responsive " style="height:300px">
    </center>
    <h1 class="ribbon ">
		<strong class="ribbon-content " style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">อิน</strong>
	</h1>
</div>

<div class="col-sm-4 " id="gr">
    <center>
        <img src="/images/gr1.png" class="img-responsive " style="height:300px">
    </center>
    <h1 class="ribbon ">
		<strong class="ribbon-content " style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">กราฟ</strong>
	</h1>
</div>

<div class="col-sm-4 " id="ph">
    <center>
        <img src="/images/ph1.png" class="img-responsive " style="height:300px">
    </center>

    <h1 class="ribbon">
		<strong class="ribbon-content" style="font-family: '5012_tlu_infectionregular'; font-size: 30px;">ริว</strong>
	</h1>
</div>
<script>
    $('#in').click(function() {
        changePage('http://localhost:3000/bio?name=in', 'get', 'text');

    });
    $('#gr').click(function() {
        changePage('http://localhost:3000/bio?name=gr', 'get', 'text');
    });
    $('#ph').click(function() {
        changePage('http://localhost:3000/bio?name=ph', 'get', 'text');
    });
</script>
<style>
    #gr,
    #in,
    #ph {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    #gr:hover,
    #in:hover,
    #ph:hover {
        -webkit-filter: grayscale(0%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }
</style>
