

.fire-text {
  color: #fff;
  height: auto;
  font-family: sans-serif;
  font-size: 12vh;
  padding-top: 4vh;
  text-align: center;
  transition: all 80ms linear;
  -webkit-transition: all 80ms linear;
  -moz-transition: all 80ms linear;
  -o-transition: all 80ms linear;
  -webkit-filter: blur(2px);
}

.fire-text div {
  display: inline-block;
}

.wick {
  width: 2px;
  height: 3vh;
  background: #444;
  left: 50%;
  margin-left: -0.3vh;
  margin-top: -3vh;
  position: relative;
  z-index: -1;
}
